Django==3.2.0rc1
django-braces@https://github.com/lumocodes/django-braces/archive/829474dd8dd63ea8bcafa91259d1bd0f7fed624d.zip
boto3==1.18.44
django-autocomplete-light==3.8.2
django-autoslug==1.9.8
django-async-messages-redux@https://github.com/lumocodes/django-async-messages-redux/archive/07072882697f08f418d3a1876b71f3a76b95054d.zip
django-s3direct==1.0.4
django-allauth==0.44.0
django-countries[pyuca]==7.1
django-bootstrap-form==3.4
django-debug-toolbar@https://github.com/lumocodes/django-debug-toolbar/archive/74a790cb9434b936f22516e84bbf589727ebe0b4.zip
django-filter==2.4.0
django-resumable@https://github.com/lumocodes/django-resumable/archive/506cd858bc25560552c3c437095ff912d1a64b81.zip
django-storages@https://github.com/lumocodes/django-storages/archive/65e75533e10f5725afc78f3a2f544722750b04de.zip
Collectfast@https://github.com/lumocodes/collectfast/archive/5cfe330563c8120d0dc38231fce2049468f74702.zip
django-suit@https://github.com/lumocodes/django-suit/archive/72d0d979c0b6b1cc5f4751e932a4dc7ad3eaeb1a.zip
django-formset-js==0.5.0
lxml==4.6.2
django-cors-headers==3.7.0
python-memcached==1.59
unicodecsv==0.14.1
drf-dynamic-fields==0.3.1
drf-writable-nested==0.6.2
xlrd==1.1.0
pandas==1.2.3
django-rest-passwordreset==1.1.0
django-import-export==2.5.0
tablib==3.0.0
django-model-utils==4.1.1
django-suit-daterange-filter==0.0.7
django-template-debug==0.3.5
#django-versatileimagefield==1.10
django-versatileimagefield@https://github.com/lumocodes/django-versatileimagefield/archive/326f445ceb149d8f588d8f58a2a77861fcf4d202.zip
django-extensions==2.1.0
djrill==2.1.0  # TODO: Migrate to django-anymail
django-widget-tweaks==1.4.2
djangorestframework==3.12.2
uritemplate==3.0.1 # required by drf to openapi support
PyYAML==5.4.1
#djangorestframework-jwt==1.11.0
drf-jwt==1.17.3 # a replacement for djangorestframework-jwt
djangorestframework-link-header-pagination==0.1.1
redis==3.5.3
django-redis==4.11.0
requests==2.25.1
requests-oauthlib==1.3.0
celery==5.0.5
django-celery-beat@https://github.com/lumocodes/django-celery-beat/archive/0321e0d66137c6fd58fd7428c77b417bf2118260.zip
django-timezone-field@https://github.com/lumocodes/django-timezone-field/archive/c095ce10594ff87bc29f7b054cea9996978128cc.zip
django-celery-results==2.0.1
python-decouple==3.4
sparkpost==1.3.6
python3-openid==3.2.0
Pillow==5.1.0
psycopg2==2.8.6
dj-database-url==0.5.0
awesome-slugify@https://github.com/lumocodes/awesome-slugify/archive/f6022fe61c208a9419d5e3c331bfef410a49ee14.zip
sentry-sdk==1.0.0
